<div>
    {{view Ember.Select contentBinding="items" valueBinding="selectedValue" optionValuePath="content" optionLabelPath="content.id" prompt="Add Item"}}
    <button class="btn btn-primary btn-xs pull-right" {{action "addItem"}}>Add</button>
</div>

<div class="list-group">
    {{#each item in addedItems}}
        {{select-multipleItem item=item droppedItem="droppedItem" deleteItem="deleteItem"}}
    {{/each}}
</div>
