<div class="subcategoryinput">
    <ul class="nav nav-tabs">
        {{#link-to "categories.category.subcategory.index" tagName="li"}}<a href="#">Editable Content</a>{{/link-to}}
        {{#link-to "categories.category.subcategory.preview" tagName="li"}}<a href="#">HTML/Markdown</a>{{/link-to}}
        {{#link-to "categories.category.subcategory.fields" tagName="li"}}<a href="#">Fields</a>{{/link-to}}
    </ul>
    {{outlet}}
</div>
