<div class="subcategoryinput">
    <ul class="nav nav-tabs">
      {{#link-to "subcategory.index" tagName="li"}}<a href="#">Content</a>{{/link-to}}
      {{#link-to "subcategory.fields" tagName="li"}}<a href="#">Fields</a>{{/link-to}}
      {{#link-to "subcategory.preview" tagName="li"}}<a href="#">Preview</a>{{/link-to}}
    </ul>
    {{outlet}}
</div>