html{
    height: 100%;
}
body {
    color: #454545;
    font-weight: 200;
    font-size: 17px;
    background-color: #fff;
    min-height: 100%;
}

p { margin-top: 0.95em; }

@media only screen and (min-width: 1200px) {
    .wrap {
        width: 1200px;
        margin: 0 auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .wrap {
        width: 950px;
        margin: 0 auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .wrap {
        width: 730px;
        margin: 0 auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .wrap {
        width: 600px;
        margin: 0 auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 620px) {
    .wrap {
        width: 550px;
        margin: 0 auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .wrap {
        width: 80%;
        margin: 0 auto;
        min-height: 100%;
    }
}



#headerArea {
    background: url('/admin/images/header_background.png') no-repeat center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    height: 150px;
    min-height: 150px;
}

#headerArea .headerLogo {
    margin-top: 40px;
    height: 50px;
}

.actionButtons {
    text-align: right;
}

.categoryList {
    max-height: 400px;
    overflow: scroll;
}

.menuBadge {
    background: #fff;
    color: #000;
}

.list-group {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pointer {
    cursor: pointer;
}

.smallBottomMargin {
    margin-bottom: 5px;
}

.categoryListGroup {
    max-width: 200px;
}

.list-group-item:first-child {
    border-radius: 0px;
}

a.categoryItem {
    background: #0c675e;
    color: #f4f4f4;
    border-color: #0b483f;
    border-radius: 0px;
}

a.categoryItem:hover {
    background: #0c4f46;
    color: #fff;
    border-color: #0c3e35;
}

a.categoryItem.active{
    background: #a5ac00;
    border-color: #8e9500;
    border-radius: 0px;
}

a.categoryItem:hover.active {
    background: #d6dd00;
    border-color: #8e9500;
}

a.subcategoryItem {
    background: #f4f4f4;
    border-radius: 0px;
}

a.subcategoryItem:hover {
    background: #fff;
}

a.subcategoryItem.active{
    background: #a5ac00;
    border-color: #8e9500;
    border-radius: 0px;
}

a.subcategoryItem:hover.active {
    background: #d6dd00;
    border-color: #8e9500;
}

.draggingOverBottom {
    border-bottom: 3px solid #8e9500;
}

.draggingOverTop {
    border-top: 3px solid #8e9500;
}

.tableHeader {
    text-align: center;
}

.smallMarginBottom {
    margin-bottom: 10px;
}

.tinyMarginTop {
    margin-top: 3px;
}

.blackText {
    color: #000;
}

.subcategoryEditArea {
    border-left: 4px solid #8e9500;
}

.menuFilterItem {
    border-left: 4px solid #8e9500;
}

.righthand {
    background-color: rgba(122, 105, 17, 0.28);
    color: #232323;
    padding-bottom: 8em;
}

.pagesBackground {
    background-color: rgb(229, 224, 206);
}

.keyFeaturesList li {
    padding-bottom: 0.2em;
}

h1 {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 700;
    color: #590007;
}

.subcategoryinput {

}

.subcategoryinput textarea {
    height:65vh;
    width: 100%;
}

.subcategoryFields {

}

.subcategoryFields textarea {
    height:250px;
    width: 100%;
}

.bar {
    height: 24px;
    background: green;
}