{{input-wysiwyg content=content.content}}

<div style="width: 100%; margin-top: 20px;">
    <button class="btn btn-primary" style="width: 49%; margin-right: 5%;" {{action "doSaveSubcategory" this}}>Save Subcategory</button>
    <button class="btn btn-default" style="width: 44%;">Reset</button>
</div>