<div class="wrap">
    <h1>Categories</h1>

    <div class="row">
        <div class="col-md-4">
            {{#each controller}}
                <div>{{id}}</div>
                {{#each subcategories}}
                    <div style="margin-left: 18px;">{{id}}</div>
                {{/each}}
            {{/each}}
        </div>
        <div class="col-md-8">
            {{outlet}}
        </div>
    </div>
</div>