<div id="headerArea">
    <div class="wrap">
        {{#link-to "categories"}}
            <img src="/admin/images/logo.png" class="headerLogo" />
        {{/link-to}}
        {{#link-to "setting"}}
            <button class="btn btn-default pull-right">Settings</button>
        {{/link-to}}
    </div>
</div>
