<div class="subcategoryinput">
    <ul class="nav nav-tabs">
      {{#linkTo "subcategory.index" tagName="li"}}<a href="#">Content</a>{{/linkTo}}
      {{#linkTo "subcategory.fields" tagName="li"}}<a href="#">Fields</a>{{/linkTo}}
      {{#linkTo "subcategory.preview" tagName="li"}}<a href="#">Preview</a>{{/linkTo}}
    </ul>
    {{outlet}}
    <div style="width: 100%; margin-top: 20px;">
        <button class="btn btn-primary" style="width: 49%; margin-right: 5%;" {{action "doSaveSubcategory" this}}>Save Subcategory</button>
        <button class="btn btn-default" style="width: 44%;">Reset</button>
    </div>
</div>